<!DOCTYPE html>

<html>
    <head>
        <title>Shop</title>
        <meta charset="UTF-8">
        <link href="{{path}}/css/global.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <img src="{{path}}/img/logo.png" id="pic"   class="img-rounded" width="345px" />
        </div>
        <nav class="navbar navbar-inverse">      
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{path}}/index.php">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">PRODUCT<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for c in category %}
                                    <li><a href="product.php?type={{c.name}}">{{c.name}}</a></li>
                                    {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{path}}/admin/products/add-product.php">ADD PRODUCT</a></li>
                        <li><a href="{{path}}/admin/products/category-list.php">CATEGORIES</a></li>
                        <li><a href="{{path}}/admin/products/add-category.php">ADD CATEGORY</a></li>
                        <li><a href="{{path}}/admin/products/comment.php">READ COMMENT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div>
        {% block content %}

        {% endblock %}    
    </div>
</body>
</html>

{# <div>
     {% for m in messages %}
         <div> {{m}} </div>
     {% endfor %}
     {% block menu %}
         <a href="{{path}}/admin/products/index.php">محصولات</a>
         <a href="{{path}}/admin/products/add-product.php">افزودن محصول</a>
         <a href="{{path}}/admin/products/add-category.php"> افزودن دسته </a>
         <a href="{{path}}/admin/products/category-list.php">لیست دسته ها</a>
     {% endblock %}
 </div>
 <div>
     {% block content %}

     {% endblock %}    
 </div>#}