{% extends "layout.html.twig" %}
{% block content %}

    <table  class="table table-hover">
        <tr>
            <th>#</th>
            <th>Product name</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Total price</th>
        </tr>
        {% set totalprice=0 %}

            {% for c in cart %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.price|number_format}} $ </td>
                    <td>{{c.count}}(
                        {% if c.count < c.quantity %}
                            <a href="add2cart.php?id={{c.id}}"><span class="glyphicon glyphicon-arrow-up"></span></a>
                            {% else %}
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        {% endif %}
                        /
                        {% if c.count > 0 %}
                            <a href="add2cart.php?id={{c.id}}&count=-1"><span class="glyphicon glyphicon-arrow-down"></span></a>
                            {% else %}
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        {% endif %}
                        )
                    </td>
                    <td>{{(c.count * c.price)|number_format}} $ </td>
                </tr>
                {% set totalprice=totalprice +(c.count * c.price) %}
                    {% endfor %}   
                    </table> 
                    The price to pay : {{ totalprice|number_format }} $ 
                    <br>
                    <br>
                    {% if user is defined %}
                        <a href="checkout.php">The final factor</a>
                    {% else %}
                        <a href="{{path}}/login.php">Please Login to pay . </a>
                    {% endif %}
                    {% endblock %}   
                        {% block slider %}
                        {% endblock %}